
body{
margin: 0;
padding: 0;
}
.cabeca{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #000;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,#f00,#000,#000,#000, #f00);

}
.cabeca h1{
    font-size: 40px;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium';
    

}
main{

    display: flex;
    flex-direction: column;
    height: 100vh ;
}
.slider{

    
    
    flex: 1;
    overflow: hidden;

}
.slider-todos{

    
    height: 100%;
    transition: all ease 0.9s;
    display: flex;
    

    
    
    
}

.slider-item{


    width: 100vw;
    height: inherit;
    
}

.slider-item img{

    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    
    
}
.slider-item.a{
    background-color: rgb(102, 255, 0);

}
.slider-item.b{
    background-color: rgb(0, 51, 255);

}
.slider-item.c{
    background-color: rgb(234, 255, 0);

}
.slider-controles{
    
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.contole{
    text-align: center;
    padding: 5px;
    height: 20px;
    width: 50px;
    border-radius: 20px;
    border: 5px solid  #000;
    color: #FFF;
    cursor: pointer;
    overflow: hidden;
    background-color: rgba(100,0,0,0.5);
}