body{
    background-color: #000;
}
.container{
    color:#fff;
    margin: 200px;
    text-align: center;
    font-size: 50px;
}
.btns{
    display: flex;
    justify-content: center;
    
    
}
button{
    margin-top: 10px;
    margin-right: 10px;
    flex-direction: row;
    color: #fff;
    font-weight: bolder;
    padding: 10px;
    height: 35px;
    width: 100px;
    border: none;
}
button:hover{
    cursor: pointer;
}
.start-btn{
    background-color: rgb(32, 180, 32);
    
}
.pause-btn{
    background-color: #00f;
}
.stop-btn{
    background-color: #f00;

}


.start-btn:hover {

   
    
    
    
    background-color: rgba(0, 255 ,0 , 0.8);
    border: solid 4px #000;
    padding: 5px;
    
    
}
.pause-btn:hover{

    background-color: rgba(0,0 ,255 , 0.8);
    border: solid 4px #000;
    padding: 5px;
    

  
}
.stop-btn:hover{
    background-color: rgba(255, 0 ,0 , 0.8);
    border: solid 4px #000;
    padding: 5px;
    
    
}