
body{
    font-family: Arial;
    margin: 0;
    padding: 0;
    
}
header{
    display: flex;
    justify-content:center;
    height: 120px;
    background-color: rgb(255, 255, 255);
}
.container{

    display: flex;
    justify-content: space-between;
    width: 990px;
    
} 
.logo{
    display: flex;
    align-items: center;
    


}  
.menu{
   
    display: flex;
    align-items: center;
    

}
nav ul, nav li{
    
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul{

    display: flex;
}

nav a{
    font-family: Arial;
    display: block;
    padding: 15px;
    text-decoration:none;
    text-transform: uppercase;
    color: #727272;
    
}

nav .ativo a,
nav a:hover{
    background-color: #39aae1;
    color: aliceblue;
}

.banner{
    display: flex;
    justify-content: center;
    background-image: url("../imgs/img1.jpg");
    background-position:center;
    background-size:cover;
    height: 670px;
}
.colum{
    flex-direction: column;

}
.area1{
    margin: 0;
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
.area2{
    margin: 0;
    padding: 0;
    background-color: green;
    height: 210px;
    display: flex;
    justify-content: center;

}
.area1 h1{
    max-width: 350px;
    color: white;
    font-size: 70px;
    text-shadow: 0px 1px 0px #000;
}
.area1 h2{
    margin-top: 30px;
    max-width: 350px;
    color: white;
    font-size: 22px;
    text-shadow: 0px 1px 0px #000;
}
.banner1,.banner2,.banner3{
    flex:1;
    color: white;
    padding: 20px;
   


}
.banner1{
    
    display: flex;
    background-color:#39aae1;
}
.banner2{
    
    display: flex;
    background-color:rgb(11, 110, 167);
}
.banner3{
    
    display: flex;
    background-color:rgb(39, 39, 232);
}
.titulo{
    font-size: 20px;
    
    
    
}
.descricao{
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.link-poster{
    color: #fff;
    padding: 5px;
    border: 1px solid rgb(255, 255, 255);   
    display: inline-block;
    width: 100px;
    font-size: 15px;
    text-decoration: none;
    
}
.container3{
    font-size: 15px;
    display: flex;
    width: 270px;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(129, 129, 129);
    
}
#geral{
    display: flex;
    justify-content: center;
    
}
#geral section{
    flex: 2;
    

}
#geral aside{
    flex: 1;
}
.widgets-titulo{
margin-top: 30px;
margin-bottom: 20px;
}
.texto-widgets2{
    color: black;
    font-size: 20px;
    font-weight: bolder;

}
.barrinha{
    background-color: #39aae1;
    width: 50px;
    height: 3px;
    margin-top: 10px;
}
article .data{
    display: flex;
}
.novo-poster{
    color: #ffffff;
    background-color:blue;
    font-size: 12;
    padding: 10px;


}
.comentario{
    color: #ffffff;
    background-color:#39aae1;
    font-size: 12;
    padding: 10px;
    margin-left: 2px;


}
article{
    margin-right: 20px;
    flex: 1;
    min-width: 300px;
}
article a{
    text-decoration: none;
}

article .nova-imagem{
    margin-top: 30px;
}
article .nova-imagem img{
    
    width: 100%;
    height: auto;

}
article .titulo-imagem{
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000;
    font-size: 23px;
}
article .resumo{
    font-size: 14px;
    color: rgb(97, 97, 97);
    line-height: 20px;
    margin-bottom: 30px;
    text-align: justify;
}
.flex{

    flex-wrap: wrap;
    display: flex;
}
.widgets-body{
    justify-content: space-between;

}

.departamentos{
   
    min-width: 150px;
    height: 150px;
    margin-bottom: 40px;
    background-color: #39aae1;
}
.departamentos2{
    min-width: 150px;
    height: 150px;
    margin-bottom: 40px;
    background-color: #39aae1;

}
.texto-departamentos{
    color: #727272;
    margin-bottom: 40px;

}
.texto-departamentos2{
    padding-top:5px ;
    padding-bottom: 5px;
    color: #727272;
    border-top: 2px solid #ccc;
    
}
.texto-departamentos2 img{
    width: 30px;
    height: 30px;
}
.link-poster{
    width: auto;
    height: auto;
}
.contatos{
    text-decoration: none;
    width: auto;
    height: auto;
}
footer{
    color: #ffffff;
    background-color: #000;
    display: flex;
    justify-content: center;
}
.footer-menu{
    display: flex;
    flex: 1;

}
.fm1,.fm2,.fm3{
    flex:1;
    color: #fff;
    padding: 20px;

}
.fm1{
    
    
    background-color:#39aae1;
}
.fm2{
    
    
    background-color:rgb(11, 110, 167);
}
.fm3{
    
    
    background-color:rgb(39, 39, 232);
}
.footer-area{
    
    display: flex;
    
    
  
}
.colum{
    flex-direction: column;
    display: flex;
}
.footer-item{
    flex: 1;
    color: #fff;
}
.conteudo1-rodape{
    
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    
}
.conteudo2-rodape{
    
    padding: 0;
    display: flex;
    justify-content: space-between;
    
}
.conteudo3-rodape{
    
    padding: 0;
    display: flex;
    justify-content: space-between;
    
}
.conteudo4-rodape h3{
    font-size: 10px;
    padding-left: 10px;
    color: #fff;
}
.conteudo4-rodape a{
    color: #39aae1;
    font-size: 10px;
    padding-left: 25px;
    text-decoration: none;
}
.conteudo5-rodape h3{
    
    
    font-size: 10px;
    padding-left: 10px;
    text-decoration: none;
}
.conteudo5-rodape a{
    color: #39aae1;
    text-decoration: none;
    font-size: 10px;
    padding-left: 25px;
    text-decoration: none;
}
footer .texto-widgets2{
    color: #fff;
}
.footer-copy{
    border-top: 1px solid #ccc;
    height: 40px;
    color: rgb(122, 122, 122);
    font-size: 12px;
    margin-top: 30px;
    line-height: 40px;
}
h2{
    font-size: 10px;
    color: #fff;
}
h3{
    font-size: 10px;
    color: #727272;
}

.menu-mobile{
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;

}
.mm-line{
    height: 3px;
    background-color:#39aae1;
}
@media  (max-width:750px){
    .area1 {
        padding: 20px;
    }
    .area1 h1{
        
        font-size: 55px;}
    .area1 h2{
        font-size: 17px;
    }
    .area2 {
        height: auto;
        flex-direction: column;
    }
    .container{
        flex-direction: column;
    }
    #geral section{
        margin-top: 200px;
    }
   .widgets-body{
    padding: 20px;
   }
    .footer-area{
        flex-direction: column;
        padding: 20px;
        
        
    }
  
    header .container{
        flex-direction: row;
    }
    nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff;
    }
    header{
        height: auto;
    }
    .menu-mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
   
    
}